body {
  margin: 0;
  background-color: #252525;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tag {
  background-color: #252525;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.tag.green {
  color: rgb(0, 255, 0);
}

.tag.orange {
  color: orange;
}

.tag.red {
  color: red;
}
